{% extends 'admin/panel.html.twig' %}

{% block title %}Panel d'administration - Chambres {% endblock %}

{% block body %}
    <div id="content">
        <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
            <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <h3 class="text-dark mb-4">Team</h3>
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Employee Info</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>Nom - Prenom</th>
                                <th>Nom d'utilisateur</th>
                                <th>Téléphone</th>
                                <th>Mail</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Airi Satou</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>33</td>
                                <td>
                                    <button class="btn btn-warning" type="button">Editer</button>
                                    <button class="btn btn-danger" type="button">Supprimer</button>
                                </td>
                            </tr>
                            <tfoot>
                            <tr>
                                <td><strong>Nom - Prenom</strong></td>
                                <td><strong>Nom d'utilisateur</strong></td>
                                <td><strong>Téléphone</strong></td>
                                <td><strong>Mail</strong></td>
                                <td>Action</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}